.internconst input{
    font-family: Philosopher;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    border: 0px;
    color: #000000;
    background: #6DD2AE;
    border-radius: 30px;
    text-align: center;
    width: 100px;
    margin-left: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 10px;
    margin-top: 100px;
}
@media screen and (max-width:600px) {
    .intern .img1{
        width:50%;
    }
}
 
.intern .img1{
    float: right;
    margin-right: 50px;
 margin-top: -80px;   
}

.intern .buttons .buttontype{
    background-color: #FDFDFD;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 30px;
    width: 340px;
    height: 340px;
    border: 1px;
}

.intern .buttons .buttontype .company{
    font-family: Philosopher;
font-style: normal;
font-weight: bold;
line-height: 30px;
align-items: center;
color: #000000;
margin-top: 50px;
}
.intern .buttons .buttontype .eligibility .span1{
    font-family: Roboto;
    margin-top: 5px;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
color: #000000;
display: block;
}

.intern .buttons .buttontype .eligibility .span2{
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 15px;
}
.intern .buttons .buttontype .duration .span1, .apply .span1{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
display: block;
line-height: 20px;margin-top: 10px;
}
.intern .buttons .buttontype .duration .span2, .apply .span2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
}
.intern .buttons .buttontype .stipend , .website{
width: 200px;
height: 30px;
background: #6DD2AE;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
margin-left: 20%;
margin-top: 10px;
}
.intern .buttons .buttontype .stipend .span1{
    font-family: Philosopher;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 13px;
}
.intern .buttons .buttontype .stipend .span2 , .website .span1{
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 27px;
    
}
.intern .buttons p{
    padding: 5px;
    background: #6DD2AE;
    border-radius: 25px;
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin-top: 10px;
    width: 200px;
    margin-left: 15%;
}
