.journelconst input{
    font-family: Philosopher;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    border: 0px;
    color: #000000;
    background: #6DD2AE;
    border-radius: 30px;
    text-align: center;
    width: 100px;
    margin-left: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 10px;
    margin-top: 100px;
}
@media screen and (max-width:600px) {
    .journels .img1{
        width:50%;
    }
}
.journels .img1{
    
    float: right;
    margin-right: 50px;
 margin-top: -80px;   
}
.journels .buttons button{
    background-color: #FDFDFD;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 30px;
    width: 340px;
    height: 300px;
    border: 1px;
}
.journels .buttons p{
    padding: 5px;
    background: #6DD2AE;
    border-radius: 25px;
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin-top: 10px;
    width: 200px;
    margin-left: 15%;
}
