nav{
    display: flex;
    background-color: lightblue;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    

}
.navlinks{
    display: flex;
    width: 35%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}