.individual{
    margin-top: 100px;
}
.allrequestconst input{
    font-family: Philosopher;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    border: 0px;
    color: #000000;
    background: #6DD2AE;
    border-radius: 30px;
    text-align: center;
    width: 100px;
    margin-left: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 10px;
}
.individual .buttons .buttontype .name{
margin-top: 50px;
}
.individual .buttons .buttontype .span1{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
align-items: center;
color: #000000;
}
.individual .buttons .buttontype{
margin-left: 4%;
margin-right: 4%;
width: 340px;
height: 340px;
}
.individual .buttons .lower{
    margin-top: 20px;
}
.individual .buttons .lower .lowerimg1{
 padding-right: 50px;

}
.individual .buttons .lower .lowerimg2{
    padding-left: 50px;
}

.individual .buttons .lower img{
   
    width: 20px;
}
