#sent{
   position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
align-items: center;
justify-content: center;
}
.img1{
    width: 300px;
    height: 300px;
    top: -130px;
    position: relative;

}
.para1{
    color: #0D986A;
    position: relative;
    text-align: center;
    width: 600px;
    height: 50px;
    font-family: Philosopher;
    font-size: 26px;
    top:-110px;
   justify-self: center;
}

.para2{
    color: #000000;
    position: relative;
    text-align: center;
    width: 500px;
    height: 30px;
    top: -120px;
    font-size: 24px;
    font-family: Philosopher;

}

.buttons1{
    top: -130px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.imag2{
    width: 110%;
    top: 0px;
    height: 241px;
    position: relative;
}
@media screen and (max-width: 900px) {
    #sent{
        height: 100%;
    }
    .para1{
        font-size: 16px;

    }
    .para2{
        font-size: 16px;
    }
}